.form {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
  }

  .form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-img-prev {
    max-width: 95%;
    height: 300px;
    border: 1px solid lightgray;
    margin-top: 20px;
  }
  
  .form-input-box {
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
  }
  
  .form-text-box {
    width: 90%;
    margin: 3px auto 10px;
  }

  .form-text-box > p {
    margin: 0 0 7px;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: 'Open Sans','Courier New', Courier, monospace;
    font-size: 12px;
  }

  @media(max-height: 830px){
    .form-img-prev{
      height: 230px;
    }
  }

  @media(max-height: 750px){
    .form-img-prev{
      height: 180px;
      margin-top: 10px;
      /* width: 95%; */
    }
    .form-input-box{
      margin: 15px auto;
    }
    .title{
      margin-bottom: 0;
    }
  }